*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header{
    display: flex; 
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #FF731A;
    box-shadow: 2px 3.5px 3px rgba(138, 255, 233, 32);
  }

  .favorite-food{
    display: flex;
    width: 90%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  h1{
    width: 95%;
    padding: 0.4em;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 3.5rem;
    letter-spacing: 2rem;
    color:#33b811;
    text-shadow: 0 4px 10px #000000;
  }
  
  
  main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    Background: #FFD89D;
    margin-top: 0.2em;
    flex-direction: column;
  }
  
  h2{
    margin: 0 auto;
    display: flex;
    width: 80%;
    padding: 2.1rem;
    font-size: 2.8rem;
    color: #7037DB;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  
  .conteiner-parags{
    display: flex;
    margin: 0 auto;
    width: 50%;
    padding: 0.3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    cursor: pointer;
  }

  .first-paragraph{
    width: 90%;
    padding: 30px;
    border: 5px rgba(247, 151, 7, 0.788) solid;
    margin: 0 0 20px 0;
    color: rgb(55, 4, 66);
    text-indent: 20px;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .first-paragraph:hover{
    color: #db0ddb;
    background: rgba(31, 29, 29, 0.856);
    transition: 0.4s;
    transform: scale(1.2, 1.2);
  }


  .second-paragraph{
    width: 90%;
    padding: 30px;
    border: 5px rgba(247, 151, 7, 0.788) solid;
    margin: 0 0 20px 0;
    color: rgb(55, 4, 66);
    text-indent: 20px;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .second-paragraph:hover{
    color: #db0ddb;
    background: rgba(31, 29, 29, 0.856);
    transition: 0.4s;
    transform: scale(1.2, 1.2)
  }

  .third-paragraph{
    width: 90%;
    padding: 30px;
    border: 5px rgba(247, 151, 7, 0.788) solid;
    margin: 0 0 20px 0;
    color: rgb(55, 4, 66);
    text-indent: 20px;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .third-paragraph:hover{
    color: #db0ddb;
    background: rgba(31, 29, 29, 0.856);
    transition: 0.4s;
    transform: scale(1.2, 1.2)
  }

  footer{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content:center;
    align-items: center;
    text-align: center;
    background: #ffc46cdc;
  }

  figure{
    display: flex;
    width: 30%;
    margin: 2 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .humburger-gif{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }

  .box-ingreds{
    display: block;
    width: 10%;
    margin: 2 auto;
    justify-content: center;
    align-items: center;
    text-align: justify;
    
  }

  h3{
    width: 50%;
    font-size: 2rem;
    margin: 0 0 15px 0;
  }

  .list-ingreds{
    display: block;
    list-style: none;
    width: 95%;
    font-size: 1.6rem;
    font-style: italic;
    cursor: pointer;
  }

  li:hover{
    background: rgba(0, 0, 0, 0.733);
    color: rgba(255, 0, 212, 0.952);
    transition: 0.5s;
    transform: scale(0.9, 0.9);
  }


  /*Aqui começa o Responsivo*/

  @media (max-width: 2600px){
    
  }